.footer {
    background-color: #333;
    color: white;
    padding: .8rem 0;
    text-align: center;
    /* margin-top: 28.7rem; */
    /* position: relative; */
    /* bottom: 0; */
  }
  
  .footer-container {
    max-width: 1200px;
    margin: auto;
  }
  
  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }
  
  .social a {
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .social a:hover {
    transform: scale(1.2);
    color: #ccc;
  }
  
  .footer-text {
    font-size: 14px;
    margin-top: 1rem;
    color: #ccc;
  }
  
  .social svg {
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  @media (max-width: 768px) {
    .social {
      flex-direction: row;
    }
    .footer{
      margin-top: 20.8rem;

    }
  }
  